<form {{action 'updateBoat' on='submit'}}>
  <p>Name: {{input value=boat.name}} Owner: {{input value=boat.ownerName}}</p>
  <p>Email: {{input value=boat.ownerEmail}} Phone: {{input value=boat.ownerPhone}}</p>
  <p>Length: {{input value=boat.length}} Type: {{input value=boat.boatType}}</p>
  <p>Make & Model: {{input value=boat.make}} Year: {{input value=boat.year}}</p>
  <button class="myButton" type='submit'>Update</button>
</form>
