{{#if auth.isAuthenticated}}
<form {{action 'createBoat' on='submit'}}>
  {{input placeholder='Name' value=newBoat.name}}
  {{input placeholder='Owner' value=newBoat.ownerName}}
  {{input placeholder='Email' value=newBoat.ownerEmail}}
  {{input placeholder='Phone' value=newBoat.ownerPhone}}
  {{input placeholder='Boat Length (ft)' value=newBoat.length}}
  {{input placeholder='Type' value=newBoat.boatType}}
  {{input placeholder='Make & Model' value=newBoat.make}}
  {{input placeholder='Year Built' value=newBoat.year}}
  <button class="myButton" type='submit'>Add New Boat</button>
</form>
{{/if}}
