<form {{action 'updateProject' on='submit'}}>
  <p>Project: {{input value=project.taskTitle}}</p>
  <p>Contractor: {{input value=project.contractor}}</p>
  <p>Bid: {{input value=project.bid}} Payment: {{input value=project.payment}}</p>
  <p>Completion Date: {{input type="date" value=project.completionDate}}</p>
  <p>Description: {{input value=project.description}}</p>
  <button type='submit'>Update</button>
</form>
