<div class="content">
<h1>Boat: {{model.name}}</h1>
<h1>Owner: {{model.ownerName}}</h1>
{{boat-edit-form boat=model updateBoat='updateBoat'}}
{{project-form boat=model createProject='createProject'}}
{{#each model.projects as |project|}}
  <div class="item">
    <p><b>Project:</b> {{project.taskTitle}}</p>
    <p>{{project.description}}</p>
    <p><b>Contractor:</b> {{project.contractor}}</p>
    <p><b>Bid:</b> ${{project.bid}}</p>
    <p><b>Payment:</b> {{project.payment}}</p>
    <p><b>Completion Date:</b> {{project.completionDate}}</p>
    {{#link-to "project" project class="btn"}} Update Project {{/link-to}}
    <button class="myButton" {{action "deleteProject" project}}>Delete Project</button>
  </div>
{{/each}}
</div>
